.about-information {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 75px;
    &::before {
        content: "O nas" !important;
        display: block;
        font-weight: 900;
        font-size: 7rem;
        letter-spacing: -3%;
        position: absolute;
        bottom: -85px;
        left: -30px;
        z-index: -1;
        color: #E5E5E5;
    }
    h2 {
        font-size: 36px;
        margin-left: 30px;
        font-weight: 300;
        color: rgb(71, 161, 247);
        position: relative;
    }
    h3 {
        font-size: 36px;
        font-weight: 300;
        color: rgb(71, 161, 247);
        margin-left: 30px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            bottom: 0%;
            left: 0%;
            width: 120%;
            height: 1px;
            background-color: rgb(71, 161, 247);
            transition: .5s;
        }
    }
    p {
        width: 90%; 
        margin-left: 30px;
        font-size: 20px;
        padding-right: 50px;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: auto;
        img {
            width: auto;
            height: 100px;
            margin-right: 150px;
            transition: 1s;
        }
    }

    .col-sm-6 {
        padding-left: 20px;
        margin-top:5%;
        margin-bottom: 5%;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        transition: .3s;
        &:hover {
            -webkit-box-shadow: 0px 0px 44px -20px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 44px -20px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 44px -20px rgba(0,0,0,0.75);
            transform: scale(1.03);
            background-color: #f0f0f0;
            transition: .3s;
        }
        &:hover h3::before {
            width: 140%;
        }
        &:hover h2::before {
            width: 140%;
        }
    }

    .about-container {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 30px;
        margin-bottom: 30px;
        h2 {
            &::before {
                position: absolute;
                content: "";
                bottom: 0%;
                left: 0%;
                width: 120%;
                height: 1px;
                background-color: rgb(71, 161, 247);
                transition: .5s;
            }
        }
    }
    .opinions-container {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 30px;
        margin-bottom: 30px;
        h2 {
            &::before {
                position: absolute;
                content: "";
                bottom: 0%;
                left: 0%;
                width: 120%;
                height: 1px;
                background-color: rgb(71, 161, 247);
                transition: .5s;
            }
        }
        .flex {
            align-items: flex-start;
        }
    }

    .advantages-container {
        display: flex;
        width: 100%;
        height: auto;
        padding-top: 30px;
        h2 {
            width: 100%;
            text-align: center;
            margin-left: 0;
            font-weight: 600;
        }
        .training {
            display: flex;
            flex-direction: column;
            p {
                margin-top: 30px;
            }
        }
        .service {
            display: flex;
            flex-direction: column;
            p {
                margin-top: 30px;
            }
            ul {
                li {
                    margin-left: 38px;
                    font-size: 20px;
                    padding-right: 75px;

                }
            }
        }
    }
}

@media (max-width: 926px) and (orientation: landscape) {
    .about-information {
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
            padding-right: 0px;
        }
        .flex {
            img {
                height: 75px;
                margin-right: 60px;
            }
        }
        .advantages-container {
            .service {
                ul {
                    li {
                        margin-left: 35px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 740px) and (orientation: landscape) {
    .about-information {
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
            padding-right: 0px;
        }
        .flex {
            img {
                margin-right: 50px;
            }
        }
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .about-information {
        .advantages-container {
            .service {
                ul {
                    li {
                        margin-left: 38px;
                        font-size: 15px;
                        padding-right: 60px
                    }
                }
            }
        }
    }
}

@media (max-width: 540px) and (orientation: portrait) {
    .about-information {
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
        }
        .flex {
            img {
                margin-right: 80px;
                height: 60px;
            }
        }
        .advantages-container {
            .service {
                ul {
                    li {
                        margin-left: 34px;
                        font-size: 15px;
                        padding-right: 45px;
                    }
                }
            }
        }
    }
}

@media (max-width: 428px) and (orientation: portrait) {
    .about-information {
        &::before {
            content: "";
            font-size: 900%;
            bottom: -115px;
            left: -10px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
        }
        .flex {
            img {
                margin-right: 60px;
                height: 60px;
            }
        }
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    .about-information {
        p {
            width: 100%;
            margin-left: 0;
            padding-left: 30px;
            text-align: left;
            font-size: 16px;
            padding-right: 30px;
        }
        .flex {
            img {
                height: 60px;
                margin-right: 20px;
            }
        }
    }
}

@media (min-width: 768px) and (orientation:portrait) {
    .about-information {
        &::before {
            content: "";
            font-size: 1200%;
            bottom: -130px;
        }
        .advantages-container .service {
            ul {
                font-size: 15px;
            }
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
        }
        .flex {
            img {
                margin-right: 50px;
                height: 70px;
            }
        }
    }
}

@media (min-width: 1024px) and (orientation:portrait) {
    .about-information {
        .advantages-container .service {
            ul {
                font-size: 15px;
            }
        }
        .flex {
            img {
                margin-right: 85px;
            }
        }
    }
}