.appliances-header {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  background-position: center;
  z-index: 0;
  @include respond-below(md) { 
    height: 440px;
  }
  @include respond-below(sm) {
    height: auto;
    background-position: center right;
  }
  canvas {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%!important;
  }
  .wrapper {
    position: absolute;
    width: 100%;
    max-width: 630px;
    display: block;
    right: 16.66666%;
    top: 30%;
    font-size: 18px;
    h1 {
      text-align: left;
      margin: 0 0 40px;
    }
    @include respond-below(xl) {
      right: 5%;
    }
    @include respond-below(lg) {
      max-width: 400px;
      font-size: 16px;
      h1 {
        font-size: 26px;
      }
    }
    @include respond-below(sm) {
      padding: 120px 20px 20px;
      top: 0;
      right: 0;
      position: relative;
      max-width: none;
    } 
  }
}

.fh-filter {
  form, figure {
    background: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;

    @include respond-above(md) { 
    position: sticky;
    top: 90px;
    }

    @include respond-below(md) { 
      padding: 20px 15px 20px;
      margin-bottom: 10px;
    }
    .fh-filter-block {
      h4 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
        display: block;
        position: relative;
        @include respond-below(md) { 
          &:after {
            content: '';
            position: absolute;
            top: 6px; 
            right: 0;
            width: 27px;
            height: 14px; 
            background: url('../img/wiecej@2.png') no-repeat center;
            background-size: contain;
            transition: transform .3s ease-in-out;
          }
          &.closed:after {
            transform: rotate(180deg);
            transition: transform .3s ease-in-out;
          }
        }
      }
      .fh-filter-content {
        @include respond-below(md) {
          display: none;
        }
        padding-top: 20px;
        label {
          display: block;
          .control {
            display: inline-block;
            transform: translateY(-5px);
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: solid 2px $color-estetyka;
            background-color: transparent;
            padding: 0;
            box-shadow: none;
            &.mixitup-control-active {
              background: $color-estetyka url("../img/check.png") no-repeat center;
            }
          }
          span {
            font-size: 13px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.fh-gallery {
  padding: 0;
  width: 100%;
  & > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    padding-left: 20px;
    list-style-type: none;
    @include respond-below(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media only screen and (max-width: 1600px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    @include respond-below(md) {
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 0;
    }
    @media only screen and (max-width: 840px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 530px) {
      grid-template-columns: 1fr;
    }
    & > li {
      a {
        display: block;
        position: relative;





        // Kafelek dla zabiegów
        figure.treatment-wrapper {
          background: white;
          padding: 20px;
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
          transition: all .3s ease-in-out;
          &::after {
            display: block;

            // Kolor paska pod kafelkiem
            background: $color-estetyka;
            height: 4px;
            content: '';
            position: absolute;
            bottom: -4px; 
            width: 0;
            left: 50%;
            transition: all .3s ease-in-out;
          }
          @include respond-below(md){ 
            padding: 10px;
          }
          
          &:hover {
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
            transition: all .3s ease-in-out;
            &::after {
              width: calc(100% - 8px);
              left: 4px;
              transition: width .3s ease-in-out, left .3s ease-in-out, transform .3s ease-in-out;
              transition-delay: .3s;
            }
          }
        }




        // Kafelek dla produktów
        figure.product-wrapper {
          background: white;
          padding: 20px;
          text-align: center;
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
          transition: all .3s ease-in-out;
          @include respond-below(md){ 
            padding: 10px;
          }
          .wrapper {
            display: flex;
            .details {
              display: none;
              text-align: left;

              ul.features {
                font-size: 14px;
                padding: 10px;
                list-style-type: none;
                li {
                  margin-bottom: 8px;
                  color: black;
                  span {
                    padding-left: 22px;
                    display: block;
                    position: relative;
                    &::before {
                      content: '';
                      position: absolute;
                      width: 18px; 
                      height: 18px;
                      display: block;
                      background: url('../img/symbol-punkt@2.png') no-repeat center;
                      background-size: contain;
                      left: 0;
                      top: .5px;
                    }
                  }
                }
              }

              h5 {
                text-transform: uppercase;
                font-weight: 700;
              }
                ul.application {
                  font-size: 13px;
                  padding: 5px;
                  list-style-type: none;
                  li {
                    color: black;
                    span {
                      display: block;
                      &::before {
                        content: '-';
                        padding-right: 14px;
                        background-image: none;
                      }
                    }
                  }
    

              }
            }
            .info {
              display: inline-block;
              width: 100%;
              position: relative;
              flex: 0 0 100%;
              .subtitle{
                color: #5f5f5f;
                font-size: 13px;
                margin-bottom: 15px;
                display:inline-block;
              }
              &:before {
                @include respond-above(md) {
                  position: absolute;
                  display: block;
                  width: 2px; 
                  height: 0;
                  content: '';

                  // Kolor podziałki w kafelku
                  background: $color-estetyka;
                  opacity: .4;
                  top: 0;
                  transition: all .3s ease-in-out;
                }
              }
            }
            &::after {
              display: block;

              // Kolor paska pod kafelkiem
              background: $color-estetyka;
              height: 4px;
              content: '';
              position: absolute;
              bottom: -4px; 
              width: 0;
              left: 50%;
              transition: all .3s ease-in-out;
            }
          }
        }
        &:hover {
            figure.product-wrapper {
              @include respond-above(md) {
                position: absolute;
                width: calc(100% + 250px);
                left: -250px;
                z-index: 2;
              }
              box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
              transition: all .3s ease-in-out;
              .wrapper {
                .details {
                  @include respond-above(md) {
                    display: block;
                    flex: 0 0 250px;
                  }
                }
                .info {
                  @include respond-above(md) {
                    flex: 0 0 calc(100% - 250px);
                  }
                  &:before {
                    height: 100%;
                    transition: all .3s ease-in-out;
                  }
                }
                &::after {
                  width: calc(100% - 8px);
                  left: 4px;
                  transition: width .3s ease-in-out, left .3s ease-in-out, transform .3s ease-in-out;
                  transition-delay: .3s;
                }
              }
            }
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 250px;
            margin: 0px auto 5px;
        }
        h2 {
          font-size: 17px;
          font-weight: 400;
          display: block;
          height: 44px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}



// Strona produktów, kolory dla chirurgii
.page-id-54, .page-id-61 {
    .fh-filter form .fh-filter-block .controls label .control {
        border-color: $color-chirurgia;
      &.mixitup-control-active { 
        background: $color-chirurgia url("../img/check.png") no-repeat center;
    }
  }
  .fh-gallery > ul > li a figure .wrapper {
    .details ul li span::before {
      background: url('../img/symbol-punkt-chirurgia@2.png') no-repeat center;
      background-size: contain;
    }
    .info::before {
      background: $color-chirurgia;
    }
    &::after {
      background: $color-chirurgia;
    }
  } 
}

// Strona zabiegów
.page-template-treatments {
  .fh-gallery {
    & > ul {
      @media only screen and (max-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @media only screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
      @include respond-below(md) {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0;
      }
      @media only screen and (max-width: 840px) {
        grid-template-columns: 1fr 1fr;
      }
      @media only screen and (max-width: 530px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &.page-id-61 {
    .fh-gallery > ul > li a figure.treatment-wrapper::after {
      background-color: $color-chirurgia;
    }
  }
}


.page-id-54, .page-id-61 {
  .appliances-header {
    color: white;
    h1.page-title {
      color: white;
    }
  }
}