// Appliance menu item set active
.single-appliance {
  .menu-item.menu-item-67 {
    @extend .current-menu-parent;
  }
}


// Appliance style
main.single-appliance {
  padding-top: 60px;

// Appliances intro
  .appliance-intro {
    margin-bottom: 30px;
    .features {
      padding: 30px;
      @include respond-below(lg) {
        order: 2;
        background: white;
      }
      @include respond-below(md) {
        padding: 15px;
      }
      h2 {
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
      }
      ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        margin-bottom: 0;
        @extend ul.sharpol;
        font-size: 13px;
        @include respond-between(xs,lg) {
          margin-top:30px;
          display: block;
          column-count: 2;
          column-gap: 10px;
        }
      }
    }
    .description {
      background: white;
      padding: 30px;
      font-size: 20px;
      @include respond-below(lg) {
        order: 1;
      }
      @include respond-below(md) {
        padding: 15px;
        font-size: 15px;
      }
      &  > .row > .col-md-6 {
        &:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          @include respond-below(md) {
            order: 2;
          }
        }
        &:nth-child(2) {
          @include respond-below(md) {
            order: 1;
          }
          img {
            margin: 0 auto;
            @include respond-above(sm) {
              max-width: 400px;
            }
            
          }
        }
      }
    }
  }

  .content {
    & > *:not(.alignfull) {
      max-width: 900px;
      margin: 0 auto 10px;
      @include respond-below(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    h2 {
      color: $color-estetyka;
      text-transform: uppercase;
      font-weight: 700;
      margin: 30px auto!important;
    }
  }
}

