main.blog-posts {
  padding-top: 60px;
}
.fh-filter.fh-blog-filter{
  position: relative;
  z-index: 1;
  canvas {
    background: red;
    position: absolute;
    top: 0;
    z-index: -1;
    background: white

  }
  @include respond-below(lg) {
    margin-bottom: 30px;
  }
  @include respond-below(md) {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  } 
  & > .fh-filter {
    padding: 30px;
    background: transparent;
    box-shadow: none;
    @include respond-below(md) {
      padding: 20px 15px 1px;
    }
    .fh-blog-categories {
      @include respond-below(md) {
        h4 {
          display: block;
          border-bottom: solid 1px #D6D6D6;
          padding-bottom: 15px;
          margin-bottom: 15px;
        }
      }
    }
    .categories {
      list-style-type: none;
      padding-left: 16px;
      li {
        font-size: 20px;
        line-height: 32px;
        position: relative;
        &.active {
          font-weight: 700;
          &:before {
            display: block; 
            width: 8px;
            height: 15px; 
            background: url('../img/sidemenu-znacznik@2.png');
            background-size: contain;
            content: '';
            position: absolute; 
            top: 7px;
            left: -20px;
          }
        }
        a {
          color: black;
          text-transform: uppercase;
          &:hover {
            color: $color-estetyka;
          }
        }
        ul {
          list-style-type: none;
          padding-left: 16px;
          li a {
            font-size: 17px;
          }
        }
      }
    }
  }
}

.fh-blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-items: stretch;
  align-items: stretch;
  padding: 0 20px;
  @include respond-below(xl) {
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }
  @include respond-below(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond-below(sm) {
    grid-template-columns: 1fr;
  }
  article {
    height: 460px;
    background: #F2F3F5;
    &.big {
      background-position: center;
      background-size: cover;
      grid-column: span 2;
      @include respond-below(sm) {
        grid-column: span 1;
      }
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      height: 490px;
      position: relative;
      .article-meta {
        margin: 0;
        padding: 8px 20px;
        .date, .category {
          color: white;
        }
      }
      a {
        background: none;
        box-shadow: none;
      }
      .title {
        position: absolute;
        height: auto;
        padding: 20px;
        bottom: 60px;
        h2 {
          color: #f1f1f1;
          font-size: 31px;
          @include respond-below(lg) {
            font-size: 17px;
          }
        }
      }

    }
    .article-meta {
      display: flex;
      flex-direction: row;
      margin: 5px 0;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: .3px;
      .line {
        flex-grow: 1;
        hr {
          background: none;
          border: none;
          border-bottom: solid 1px #a89aa6;
          margin: 10px 0;
        }
      }
      .category {
        padding-right: 10px;
        text-transform: uppercase;
      }
      .date {
        color: #a89aa6;
        padding-left: 10px;
        &:after {
          content: ' r.';
        }
      }
    }
    a {
      background: white;
      display: flex;
      flex-direction: column;
      height: 100%;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      position: relative;
      hr {
        border: solid 2px white;
        width: calc(100% - 4px);
        display: block;
        margin: 0;
      }
      img {
        object-fit: cover;
        width:100%;
        height:230px;
      }
      .title {
        height: 230px;
        padding: 20px;
        h2 {
          font-size: 22px;
          font-weight: 400;
          @media (max-width: 1460px) {
            font-size: 17px;
          }
        }
      }
      .read-more {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: black;
        font-size: 13px;
        font-weight: 700;
        &:after {
          display: inline-block; 
          width: 15px;
          height: 8px; 
          content: '';
          background-image: url('../img/czytaj-dalej@2.png');
          background-size: contain;
          background-position: center;
        }
      }
    }
    @include respond-above(sm) {
      &:nth-child(even):not(:nth-child(1)):not(:nth-child(2)) {
        a {
          img {
            order: 3;
          }
          hr {
            order: 2;
          }
          .title {
            order: 1;
          }
        }
      }
    }
  }
}


// Single blog 
.single-post, .single-review {
  .post-header {
    height: 600px;
    margin-bottom: 30px;
    width: 100vw;
    height: 600px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #2B75B4;
    padding: 30px;
    .background {
      width: calc(100% + 40px); 
      height: calc(100% + 40px); 
      position: absolute;
      z-index: -1;
      filter: blur(10px);
      background-size: cover;
      background-position: center;
      top: -20px;
      left: -20px;
      opacity: .8;
    }
    .container-narrow {
      max-width: 840px;
      margin: 0 auto;
      padding-top: 150px;
      .article-meta {
        display: flex;
        flex-direction: row;
        margin: 5px 0 20px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .3px;
        color: white;
        .line {
          flex-grow: 1;
          hr {
            background: none;
            border: none;
            border-bottom: solid 1px rgba(white, .4);
            margin: 10px 0;
          }
        }
        .category {
          padding-right: 10px;
          text-transform: uppercase;
        }
        .date {
          padding-left: 10px;
          &:after {
            content: ' r.';
          }
        }
      }
      h1{
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        @include respond-below(md) {
          font-size: 32px;
        }
        @include respond-below(sm) {
          font-size: 26px;
        }
      }
    }
  }
  .post-content {
    padding: 30px;
    .container-narrow {
      max-width: 840px;
      margin: 0 auto;
      .wp-block-quote {
        @include respond-above(lg) { 
          margin-left: -30px;
        }
      }
      img {
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.single-review {
  .post-header {
    padding: 30px;
    .container-narrow {
      padding-top: 110px;
      h1{
        font-size: 28px;
        @include respond-below(md) {
          font-size: 24px;
        }
        @include respond-below(sm) {
          font-size: 20px;
        }
      }
    }
  }
}