.gutenberg-block {
	position: relative;
	margin-bottom: 30px;
	z-index: 0;
	h4 {
		font-size: 24px;
		margin-left: 30px;
		font-weight: 300;
		text-transform: uppercase;
		display: none;
	}
	&.alignfull {
		h4 {
			display: block;
		}
		&::before {
			font-weight: 900;
			font-size: 1200%;
			letter-spacing: -3%;
			position: absolute;
			bottom: -55px;
			left: -20px;
			z-index: -1;
		}
		&.kolor-bialy {
			background-color: white;
				&:before {
					color: #F2F3F5;
				}
		}
		&.kolor-szary {
			background-color: #F2F3F5;
				&:before {
					color: #E5E5E5;
				}
		}
	}
	& ~ & {
		margin-bottom: 0px;
		&:last-child {
			margin-bottom: 30px;
		}
	}
}

/*
 *
 * Blok kontaktu
 *
 */
.blok-kontaktu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 400px!important;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 1920px;
	margin: 0 auto;
	@include respond-below(lg) {
		min-height: 450px!important;
	}
	@include respond-below(md) {
		min-height: 380px!important;
		background-position: center!important;
		background-attachment: scroll!important;
	}
	p {
		font-size: 50px; 
		font-weight: 300;
		max-width: 600px;
		line-height: 1.25;
		margin-bottom: 30px;
		@include respond-below(md) {
			font-size: 36px;
			max-width: 450px;
		}
	}
}

/*
 *
 * Karuzela zdjęć
 *
 */

// Przyciski slicka
.slick-arrow {
	position: absolute;
	display: block;
	padding: 0;
	top: calc(50% - 23.5px);
	z-index: 2;
	overflow: hidden;
	width: 47px;
	height: 47px;
	border-radius: 0px;
	text-indent: -9999px;
	box-shadow: none;
	&.slick-prev {
		left: -42px;
		background-image: url('../img/slide-nawigacja-lewo@2.png');
	}
	&.slick-next {
		right: -42px;
		background-image: url('../img/slide-nawigacja-prawo@2.png');
	}
	background-position: center;
	background-size: contain;
	background-color: transparent;
	border-color: transparent;
	transition: all .3s ease-in-out;
	&:hover:not(.slick-disabled) {
		background-color: rgba($color: #000000, $alpha: .15);
		transition: all .3s ease-in-out;
	}
	&.slick-disabled {
		opacity: .3;
		transition: all .3s ease-in-out;
	}
}

// Nawigacja po slicku
.slick-dots {
	list-style-type: none;
	position: absolute;
	top: -33px;
	right: 1.98%;
	li {
		display: inline-block;
		button {
			padding: 0;
			overflow: hidden;
			box-shadow: none;
			text-indent: -9999px;
			display:block;
			width: 12px;
			height: 12px;
			background-color: #E5E5E5;
			border: solid 1.8px #E5E5E5;
			margin: 3px;
			transition: all .3s ease-in-out;
		}
		&.slick-active {
			button {
				border-color: $color-estetyka;
			}
		}
	}
}

// Połozenie obrazków po lewej
.slick-track {    
    margin-left:0!important;
}


// Blok obrazków
.galeria-produktu {
	padding-bottom: 40px!important;
	padding-top: 30px;
	&.alignfull {
		overflow: hidden;
		&::before {
			content: 'Galeria';
		}
		.carousel-wrapper {
			.slick-arrow {
				&.slick-prev {
					left: -18px;
				}
				&.slick-next {
					right: -18px;
				}
			}
		}
	}
	.carousel-wrapper { 
		margin-left: 30px;
		width: calc(100% - 60px);
		figure {
			margin: 0;
			text-align: center;
			a {
				display: inline-block;
				padding: 10px 10px 0;
				img {
					border: solid 1px #E0E0E0;
					@extend .wp-post-image;
					transition: all .3s ease-in-out;
					&:hover {
						border-color: #7AA9CC;
						transition: all .3s ease-in-out;
					}
				}
			}
			p {
				margin-top: 5px;
				font-size: 13px;
				display: inline-block;
				padding: 0 20px;
				text-align: justify;
			}
		}
	}
}

/*
 *
 * Zastosowania produktu
 *
 */
.zastosowania-urzadzenia, .urzadzenia {
	&.alignfull {
		overflow: hidden;
		
		&::before {
			content: 'Zastosowania';
		}
		.wrapper {
			display: flex; 
			justify-content: flex-end;
			.carousel-wrapper {
				position: relative;
				@extend .col-lg-9;
				padding-right: 60px;
				@include respond-below(lg) {
					padding-left: 30px;
					padding-right: 30px;
				}
				.slick-arrow {
					&.slick-prev {
						left: -52px;
					}
					&.slick-next {
						right: 10px;
					}
				}
			}
		}
	}
	.wrapper {
		.carousel-wrapper {
			a.treatment, a.product {
				padding: 15px;
				display: inline-block;
				width: 100%;
				figure {
				background: white;
				box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
				padding: 20px;
				text-align: center;
				width: 100%;
					img {
						display: block;
						width: 100%;
						object-fit: cover;
						width: 100%;
						height: 270px;
						margin: 0px auto 5px;
						@include respond-below(lg) {
							height: auto;
						}
					}
					h3 {
						font-size: 17px;
						font-weight: 400;
						display: block;
						height: 44px;
						margin: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						@include respond-below(sm) {
							height: 60px;
						}
					}
				}
			}
		}
	}
}
.urzadzenia {
	&.alignfull {
		&::before {
			content: 'Produkty';
		}
	}
	.wrapper {
		.carousel-wrapper {
			a.product {
				img {
					object-fit: contain!important;
				}
				span {
					font-size: 13px;
					color: #5f5f5f;
				}
			}
		}
	}
}

.urzadzenia-wide {
	padding-right: 50px;
	padding-left: 50px;
	max-width: 1400px;
	margin: 40px auto;
	h4 {
		display: block;
		margin-left: 0;
	}
}

/*
 *
 * Opinie
 *
 */
 .reviews-block {
	padding-bottom: 40px!important;
	padding-top: 30px;
	&.alignfull {
		overflow: hidden;
		
		&::before {
			content: 'Opinie';
		}
	}
	.wrapper {
		display: flex; 
		justify-content: flex-end;
		.carousel-wrapper {
			position: relative;
			@extend .col-lg-9;
			padding-right: 60px;
			@include respond-below(lg) {
				padding-left: 30px;
				padding-right: 30px;
			}
			.slick-arrow {
				&.slick-prev {
					left: -52px;
				}
				&.slick-next {
					right: 10px;
				}
			}
		}
	}
	.wrapper {
		.carousel-wrapper {
			a.review {
				padding: 5px;
				display: inline-block;
				figure {
				padding: 20px;
					img {
						display: block;
						object-fit: cover;
						width:100%;
						height:230px;
						margin-bottom: 20px;
						@include respond-below(xl) {
							height:200px;	
						}
						@include respond-below(lg) {
							height:180px;	
						}
					}
					h3 {
						font-size: 17px;
						font-weight: 400;
						transition: all .3s ease-in-out;
					}
				}
				&:hover {
					h3 {
						color: $color-estetyka;
						transition: all .3s ease-in-out;
					}
				}
			}
		}
	}
 }


 
/*
 *
 * Artykuły
 *
 */
 .articles-block, .front-page-blog{
	padding-bottom: 40px!important;
	padding-top: 30px;
	&.alignfull {
		overflow: hidden;
		
		&::before {
			content: 'Blog';
		}
	}
	.wrapper {
		display: flex; 
		justify-content: flex-end;
		.carousel-wrapper {
			position: relative;
			@extend .col-lg-9;
			padding-right: 60px;
			@include respond-below(lg) {
				padding-left: 30px;
				padding-right: 30px;
			}
			.slick-arrow {
				&.slick-prev {
					left: -52px;
				}
				&.slick-next {
					right: 10px;
				}
			}
		}
	}
	.wrapper {
		.carousel-wrapper {
			a.review {
				padding: 5px;
				display: inline-block;
				figure {
				padding: 20px;
					.wrapper {
						background: white;
						display: flex;
						flex-direction: column;
						box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
						.image {
							img {
								display: block;
								object-fit: cover;
								width:100%;
								height:230px;
								@include respond-below(xl) {
									height:200px;	
								}
								@include respond-below(lg) {
									height:180px;	
								}
							}
						}
						hr {
							border: solid 2px white;
							width: calc(100% - 4px);
							display: block;
							margin: 0;
						}
						.title {
							padding: 20px;
							height:230px;
							position: relative;
							h3 {
								font-size: 22px;
								font-weight: 400;
								transition: all .3s ease-in-out;
								@include respond-below(md) {
									font-size: 17px;
								}
							}
							.read-more {
								position: absolute;
								bottom: 20px;
								left: 20px;
								color: black;
								font-size: 13px;
								font-weight: 700;
								&:after {
									display: inline-block;
									width: 15px;
									height: 8px;
									content: '';
									background-image: url("../img/czytaj-dalej@2.png");
									background-size: contain;
									background-position: center;
								}
							}
						}
					}
				}
				&:hover {
					h3 {
						color: $color-estetyka;
						transition: all .3s ease-in-out;
					}
				}
			}
		}
		.slick-slide:nth-child(even) {
			a.review {
				figure {
					.wrapper {
						.image {
							order: 3;
						}
						hr {
							order: 2;
						}
						.title {
							order: 1;
						}
					}
				}
			}
		}
	}
}