.main-clinic-account {
    padding-top: 60px;
    & > .clinic-section.row {
        
        aside {
            background: white;
            padding: 30px;
            font-size: 18px;
            .col-big {
                flex-grow: 1;
                @include respond-below(xl) {
                    flex: 0 0 100%;
                }
            }
            .col-small {
                flex-grow: 0;
                @include respond-below(xl) {
                    flex: 0 0 100%;
                }
            }
            h2 {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 300;
                margin-bottom: 20px;
            }
            a.button-outline {
                font-size: 13px;
                line-height: 32px;
                padding: 0 12px;
                margin-bottom: 20px;
            }
            ul {
                list-style-type: none;
                padding-left: 16px;
                li {
                    font-size: 20px;
                    line-height: 32px;
                    position: relative;
                    text-transform: uppercase;
                    a {
                        color: black;
                        &:hover {
                            color: $color-estetyka;
                        }
                    }
                    &.active {
                        font-weight: 700;
                        &:before {
                            display: block;
                            width: 8px;
                            height: 15px;
                            background: url("../img/sidemenu-znacznik@2.png");
                            background-size: auto;
                            background-size: contain;
                            content: '';
                            position: absolute;
                            top: 7px;
                            left: -20px;
                        }
                    }
                }   
            }
        }
        .appliances {
            background: white;
            padding: 30px;
            @include respond-above(md) {
                margin-right: 30px;
                margin-left: 30px;
            }
            @include respond-below(md) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .row {
                margin-bottom: 20px;
                & > div:nth-child(1) {
                    img {
                        max-width: 180px;
                    }
                    @include respond-below(md) {
                        display: none;
                    }
                }
            }
        }
        .call-us {
            background: white;
            max-width: 250px;
            text-align: center;
            padding: 30px 16px;
            border-radius: 4px;
            position: sticky;
            top: 90px;
            @include respond-below(md) {
                display: none;
            }
            img {
                display: block;
                margin: 20px auto;
            }
            p {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    & > .login-section.row {
        background: white;
        & > div {
            @include respond-above(sm) {
            min-height: 600px;
            }
            padding: 40px;
            &:nth-child(1) {
                .form-wrapper {
                    @include respond-above(sm) {
                        float: right;
                        max-width: 400px;
                    }
                    @include respond-below(sm) {
                        display: block;
                        margin: 0 auto;
                        max-width: 400px;
                    }
                    h2 {
                        text-transform: uppercase;
                        font-size: 22px;
                        margin-bottom: 30px;
                    }
                }
            }
            &:nth-child(2) {
                background: #7EC4EA url('../img/login-page.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                @include respond-below(sm) {
                    display: none;
                }
            }
        }
    }
}

ul.pliki-do-pobrania {
    padding: 0px!important;
    list-style-type: none;
    li {
        line-height: 26px;
    }
}