.adres, .telefon, .mail, .link {
    padding-left: 40px;
    position: relative;
    &:before {
        position: absolute;
        top: -3px;
        left: 0;
        width: 26px;
        height: 26px;
        content: '';
        background: url('../img/ikona-lokalizacja@2.png');
        background-size: contain;
    }
}
.telefon {
    &:before {
        background: url('../img/ikona-telefon@2.png');
        background-size: contain;
    }
}
.mail {
    &:before {
        background: url('../img/ikona-mail@2.png');
        background-size: contain;
    }
}
.link {
    &:before {
        background: url('../img/ikona-link@2.png');
        background-size: contain;
    }
}

.contact-main-content {
    background-color: #F1F1F1;
    padding-top: 0px;
    & >.row {
        background: white;
        position: relative;
        overflow: hidden;
        &:before {
            content: 'Kontakt'!important;
            font-weight: 900;
            font-size: 1200%;
            letter-spacing: -3%;
            position: absolute;
            bottom: -55px;
            left: -20px;
            z-index: 0;
            color: #E5E5E5;
        }
        & > section {
            padding: 40px;
            @include respond-below(md) {
                padding: 15px;
            }
            h2 {
                text-transform: uppercase;
                font-size: 22px;
                margin-bottom: 30px;
            }
        }
        .address {
            & > * {
                position: relative;
            }
        }
        .form {
            form {
                label {
                    display: flex;
                    flex-direction: row;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 30px;
                    align-self: flex-start;
                    width: 100%;
                    @include respond-between(lg,xl) { 
                        display: inline-block;
                    }
                    @include respond-below(sm) {
                        display: inline-block;
                    }
                    span:not(wpcf7-form-control-wrap) {
                        flex: 0 0 120px;
                        line-height: 30px;
                        @include respond-between(lg,xl) { 
                            display: block;
                        }
                        @include respond-below(sm) {
                            display: block;
                        }
                    }
                    span.wpcf7-form-control-wrap {
                        flex-grow: 1;
                    }
                    input:not([type="checkbox"]):not([type="radio"]) {
                        width: 100%;
                    }
                    select.wpcf7-select {
                        height: 32px;
                    }
                }
                .wpcf7-acceptance {
                    span.wpcf7-list-item-label {
                        width: 100%;
                        flex: 0 0 100%;
                        padding-left: 10px;
                        font-weight: 400;
                        line-height: 1.3;
                        font-size: 12px;
                    }
                }
            }
        }
        .map {
            background: #2B75B4;
            position: relative;
            color: white;
            ul.poland {
                list-style-type: none;
            }
            h2 {
                color: white;
            }
            figure.trader {
                margin-bottom: 37px;
                h3 {
                    text-transform: uppercase;
                    color: white; 
                    margin-bottom: 20px;
                }
                .mail, .telefon, .adres, .link {
                    margin: 10px 0;
                    color: white;
                    a {
                        color: white;
                    }
                }
                .telefon {
                    &:before {
                        background: url('../img/ikona-telefon-biala@2.png');
                        background-size: contain;
                    }
                }
                .mail {
                    &:before {
                        background: url('../img/ikona-mail-biala@2.png');
                        background-size: contain;
                    }
                }
                .adres {
                    &:before {
                        background: url('../img/ikona-lokalizacja-biala@2.png');
                        background-size: contain;
                    }
                }
            }
            small {
                a {
                    color: white;
                }
            }
        }
    }
}


// @media (max-width: 640px) and (orientation: landscape) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 425px;
//                 font-size: 900%;
//             }
//         }
//     }
// }


@media (max-width: 767px) and (orientation: portrait) {
    .contact-main-content {
        padding-top: 0px;
        position: relative;
        & >.row {
            overflow: hidden;
            background: white;
            &:before {
                content: "";
                display: none;
            }
        }
    }
}

// @media (max-width: 540px) and (orientation: portrait) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 510px;
//                 font-size: 900%;
//             }
//         }
//     }
// }

// @media (max-width: 393px) and (orientation: portrait) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 425px;
//                 font-size: 900%;
//             }
//         }
//     }
// }

// @media (max-width: 731px) and (orientation: landscape) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 721px;
//                 font-size: 900%;
//             }
//         }
//     }
// }

// @media (min-width: 768px) and (orientation: portrait) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 337px;
//                 font-size: 1200%;
//             }
//         }
//     }
// }

// @media (min-width: 1024px) and (orientation: portrait) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 490px;
//                 font-size: 1200%;
//             }
//         }
//     }
// }

// @media (max-width: 1024px) and (orientation: landscape) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 490px;
//                 font-size: 1200%;
//             }
//         }
//     }
// }

// @media (max-width: 915px) and (orientation: landscape) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 455px;
//                 font-size: 900%;
//             }
//         }
//     }
// }

// @media (max-width: 869px) and (orientation: landscape) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 350px;
//                 font-size: 900%;
//             }
//         }
//     }
// }


// @media (max-width: 640px) and (orientation: landscape) {
//     .contact-main-content {
//         padding-top: 0px;
//         position: relative;
//         & >.row {
//             overflow: hidden;
//             background: white;
//             &:before {
//                 bottom: 615px;
//                 font-size: 900%;
//             }
//         }
//     }
// }