main.find-clinic-main-content {
	padding-top: 60px;
	.google-map {
		min-height: 500px;
		max-height: 1200px;
		margin-left: 10px;
		height: 100%;
		width: calc(100% - 10px);
	}
	#find-clinic-form {
		background: white;
		margin: 0 auto;
		padding: 20px;
		& > label {
			padding: 5px;
			span {
				display: inline-block;
				margin-bottom: 6px;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: .3px;
				font-size: 13px;
			}
			
		}
	}
	#results-list {
		max-width: 1500px;
		margin: 0 auto 60px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		justify-items: stretch;
		align-items: stretch;
		list-style-type: none;
		padding: 0!important;
		margin-top: 10px;
		@include respond-below(xs) {
			grid-template-columns: 1fr;
		}
		& > li {
			box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
			background: white;
			padding: 20px;
			opacity: 0;
			animation: example .3s ease-in-out forwards;
			transition: all .1s ease-in-out;
			cursor: pointer;
			@for $i from 1 to 30 {
				&:nth-child(#{$i}) { animation-delay: $i * 0.12s; }
			  }
			h3 {
				text-transform: uppercase;
				margin-bottom: 20px;
				font-weight: 700;
			}
			&.active {
				background-color: #0C5EA7;
				color: rgba(255, 255, 255, .8);
				transition: all .1s ease-in-out;
				h3 {
					color: white;
				}
				p {
					&:before {
						filter: brightness(0) invert(1);
					}
				}
				a {
					color: white;
				}
			}
		}
	}
}


@keyframes example {
	from {opacity: 0; transform: scale(.5)}
	to {opacity: 1; transform: scale(1)}
  }