main.find-clinic-main-content {
	padding-top: 60px;
	.google-map {
		min-height: 500px;
	}
	#find-clinic-form {
		max-width: 900px;
		background: white;
		margin: 0 auto;
		transform: translateY(-70px);
		box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
		padding: 20px;
		& > label {
			padding: 5px;
			span {
				display: inline-block;
				margin-bottom: 6px;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: .3px;
				font-size: 13px;
			}
			
		}
	}
	#results-list {
		max-width: 1500px;
		margin: 0 auto 60px;
		transform: translateY(-20px);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 2fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		justify-items: stretch;
		align-items: stretch;
		list-style-type: none;
		padding: 0;
		& > li {
			box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
			background: white;
			padding: 20px;
			opacity: 0;
			animation: example .3s ease-in-out forwards;
			@for $i from 1 to 30 {
				&:nth-child(#{$i}) { animation-delay: $i * 0.12s; }
			  }
			h3 {
				text-transform: uppercase;
				margin-bottom: 20px;
				font-weight: 700;
			}
			ul.zabiegi, ul.urzadzenia {
				list-style-type: none;
				padding-left: 40px;
				position: relative;
				margin-bottom: 1.8rem;
				li {
					display: inline-block;
					margin-left: 5px;
					font-size: 13px;
				}
				&:before {
					position: absolute;
					top: -3px;
					left: 0;
					width: 26px;
					height: 26px;
					content: '';
					background: url("../img/ikona-zabiegi@2.png");
					background-size: auto;
					background-size: contain;
				}
			}
			ul.urzadzenia {
				&:before {
					background-image: url("../img/ikona-urzadzenia@2.png");
				}
			}
		}
	}
}


@keyframes example {
	from {opacity: 0; transform: scale(.5)}
	to {opacity: 1; transform: scale(1)}
  }