@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/airbnbcereal-black.eot');
    src: url('../fonts/airbnbcereal-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbnbcereal-black.woff2') format('woff2'),
         url('../fonts/airbnbcereal-black.woff') format('woff'),
         url('../fonts/airbnbcereal-black.svg#airbnb_cereal_appblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/airbnbcereal-bold.eot');
    src: url('../fonts/airbnbcereal-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbnbcereal-bold.woff2') format('woff2'),
         url('../fonts/airbnbcereal-bold.woff') format('woff'),
         url('../fonts/airbnbcereal-bold.svg#airbnb_cereal_appbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/airbnbcereal-book.eot');
    src: url('../fonts/airbnbcereal-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbnbcereal-book.woff2') format('woff2'),
         url('../fonts/airbnbcereal-book.woff') format('woff'),
         url('../fonts/airbnbcereal-book.svg#airbnb_cereal_appbook') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/airbnbcereal-extrabold.eot');
    src: url('../fonts/airbnbcereal-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbnbcereal-extrabold.woff2') format('woff2'),
         url('../fonts/airbnbcereal-extrabold.woff') format('woff'),
         url('../fonts/airbnbcereal-extrabold.svg#airbnb_cereal_appextra_bold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/airbnbcereal-light.eot');
    src: url('../fonts/airbnbcereal-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbnbcereal-light.woff2') format('woff2'),
         url('../fonts/airbnbcereal-light.woff') format('woff'),
         url('../fonts/airbnbcereal-light.svg#airbnb_cereal_applight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/airbnbcereal-medium.eot');
    src: url('../fonts/airbnbcereal-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbnbcereal-medium.woff2') format('woff2'),
         url('../fonts/airbnbcereal-medium.woff') format('woff'),
         url('../fonts/airbnbcereal-medium.svg#airbnb_cereal_appmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}