footer.site-footer {
    background-color: #f1f1f1;
    position: relative;
    .row {
        z-index: 1;
        position: relative;
        &:after {
            position: absolute;
            top: 0; 
            right: 0;
            content: '';
            display: block;
            width: 29%;
            height: 100%;
            background: #D9D9D9;
            z-index: -1;
            @include respond-below(lg) {
                width: 13.5%;  
            }
            @include respond-below(md) {
                width: 50%;  
            }
            @include respond-below(sm) {
                display: none;
            }
        }
        .contact {
            display: flex;
            align-items: center;
            justify-content: center;
            @include respond-below(md) {
                justify-content: flex-start;
                padding: 30px;
            }
        }
        .footer-menu {
            font-size: 13px;
            padding: 50px 10px 50px;  
            @include respond-below(md) {
                padding-top: 20px; 
                padding-bottom: 0px; 
            }
            @include respond-below(sm) { 
                background-color: #D9D9D9;
            }
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                @include respond-below(md) {
                    display: block; 
                }

                & > li {
                    display: inline-block;
                    width: 100%;
                    & > a {
                        display: block;
                        line-height: 30px;
                        font-weight: 700;
                        color: #525252;
                        text-transform: uppercase;
                        border-bottom: solid 1px #A8A8A8;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        @include respond-below(lg) { 
                            line-height: 1.2;
                            height: 53px;
                        }
                        @include respond-below(md) {
                            border-bottom: none;
                            padding: 0;
                            line-height: 20px;
                            height: auto;

                        }
                        &:hover {
                            color: $color-estetyka;
                        }
                    }
                    ul.sub-menu {
                        list-style-type: disc;
                        flex-direction: column;
                        padding: 0;
                        padding-right: 5px;
                        @include respond-below(md) {
                            padding-left: 15px!important;
                            margin-bottom: 10px;
                        }
                        & > li {
                            display: block;
                            a {
                                line-height: 1.2;
                                border: none;
                                text-transform: none;
                                font-weight: 400;
                                padding: 5px 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .footer-map {
            img {
                display: block;
                max-width: 100%;
                height: auto;
                padding: 20px;
                @include respond-above(xl) {
                    max-width: 270px;
                    max-height: 270px;
                }
            } 
            @include respond-below(lg) {
                display: none;
            }
        }
    }
}

.tags-section {
    padding: 30px 50px;

    .tags-list {
        margin-top: 20px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        // @media (max-width: 480px) {
        //     flex-direction: column;
        // }
        // @media (max-width: 768px) {
        // padding-left: 0px !important;
        // }
        a {
            text-align: center;
        }

        .tags-item {
            background-color: #007cba;
            padding: 10px 45px;
            margin: 15px 10px;
            font-size: 1.1125rem;
            color: #fff;
            transition: 0.5s all ease-in-out;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;

            // @media (max-width: 768px) {
            //     padding: 5px 20px;
            // margin: 10px 5px;
            // font-size: 0.85rem;
            // }

            &:hover {
            transition: 0.5s all ease-in-out;
            background-color: #248ec4;

            }
        }
    }

    h3 {
        transform: translateX(-20px);
        // padding-left: 10px;
        font-size: 36px;
        font-weight: 300 !important;
        color: black;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        line-height: 1.25;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .tags-section {
        width: 100%;
        padding: 0;
        h3 {
            text-align: center;
        }
        .tags-list {
            justify-content: flex-start;
            .tags-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: auto;
                padding: 10px 8px;
                margin: 10px 2px;
                font-size: 1rem;
                a {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 823px) and (orientation: landscape) {
    .tags-section {
        width: 100%;
        padding: 10px 0px;
        h3 {
            padding-left: 35px;
        }
        .tags-list {
            .tags-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 150px;
                padding: 10px 8px;
                margin: 10px 2px;
                font-size: 1rem;
                a {
                    text-align: center;
                }
            }
        }
    }
}


.contact-main-content {
    padding-top: 60px;
    & >.row {
        background: white;
        & > section {
            padding: 40px;
            @include respond-below(md) {
                padding: 15px;
            }
            h2 {
                text-transform: uppercase;
                font-size: 22px;
                margin-bottom: 30px;
            }
        }
        .address {
            & > * {
                position: relative;
            }
        }
        .form {
            form {
                label {
                    display: flex;
                    flex-direction: row;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 30px;
                    align-self: flex-start;
                    width: 100%;
                    @include respond-between(lg,xl) { 
                        display: inline-block;
                    }
                    @include respond-below(sm) {
                        display: inline-block;
                    }
                    span:not(wpcf7-form-control-wrap) {
                        flex: 0 0 120px;
                        line-height: 30px;
                        @include respond-between(lg,xl) { 
                            display: block;
                        }
                        @include respond-below(sm) {
                            display: block;
                        }
                    }
                    span.wpcf7-form-control-wrap {
                        flex-grow: 1;
                    }
                    input:not([type="checkbox"]):not([type="radio"]) {
                        width: 100%;
                    }
                    select.wpcf7-select {
                        height: 32px;
                    }
                }
                .wpcf7-acceptance {
                    span.wpcf7-list-item-label {
                        width: 100%;
                        flex: 0 0 100%;
                        padding-left: 10px;
                        font-weight: 400;
                        line-height: 1.3;
                        font-size: 12px;
                    }
                }
            }
        }
        .map {
            background: #2B75B4;
            position: relative;
            color: white;
            ul.poland {
                list-style-type: none;
            }
            h2 {
                color: white;
            }
            figure.trader {
                margin-bottom: 37px;
                h3 {
                    text-transform: uppercase;
                    color: white; 
                    margin-bottom: 20px;
                }
                .mail, .telefon, .adres, .link {
                    margin: 10px 0;
                    color: white;
                    a {
                        color: white;
                    }
                }
                .telefon {
                    &:before {
                        background: url('../img/ikona-telefon-biala@2.png');
                        background-size: contain;
                    }
                }
                .mail {
                    &:before {
                        background: url('../img/ikona-mail-biala@2.png');
                        background-size: contain;
                    }
                }
                .adres {
                    &:before {
                        background: url('../img/ikona-lokalizacja-biala@2.png');
                        background-size: contain;
                    }
                }
            }
            small {
                a {
                    color: white;
                }
            }
        }
    }
}



.debug {
    background: white;
    line-height:  30px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    @include respond-below(md) { 
        justify-content: flex-start;
        flex-flow: wrap;
        flex-direction: column;
    }
    ul {
        list-style-type: none;
        padding: 10px;
        margin: 0;
        li {
            display: inline-block;
            line-height: 1;
            border-right: solid 1px black;
            padding-right: 15px;
            margin-right: 15px;
            @include respond-below(md) { 
                border-right: none;
                margin-right: 0px;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .copyright {
        padding: 10px;
        @include respond-below(md) { 
            padding: 10px 30px 0;
            margin-bottom: 0;
        }
        img {
            display: inline-block; 
            max-width: 90px;
            height: auto;
        }
    }
}

#particles-js {
    canvas {
        position: absolute; 
        top: 0;
    }
}

