.front-page-selector {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    @include respond-below(md) {
	   flex-direction: column;
    }
    .estetyka, .chirurgia {
        flex: 1;
        height: 760px;
        background-size: auto 100%;
        padding: 30px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #7ac3ec;

				p {
					opacity: 1;
				}

        @include respond-below(xl) {
			height: 700px;
			background-position: -350px center;
        }
        @include respond-below(lg) {
			height: 600px;
        }
        @include respond-below(md) {
	        height: 500px;
	        display: block;
			flex: none;
			background-position: -100px center;
	    }
	    @include respond-below(sm) {
		    height: 400px;
		    background-position: center;
		}
		figure {
			position: absolute;
			bottom: 20px;
			right: 20px;
			max-width: 350px;
			min-height: 300px;
			@include respond-below(sm) {
				min-height: auto;
				max-width: 280px;
			}
			h2 {
				font-size: 40px;
				text-transform: uppercase;
				font-weight: 300;
				text-align: right;
				@include respond-below(lg) {
					font-size: 30px;
					font-weight: 400;
				}
			}
			p {
				opacity: 1;
				color: black;
				font-size: 18px;
				transition: opacity .6s ease-in-out;
				text-align: right;
				@include respond-below(md) {
					opacity: 1;
					font-size: 14px;
				}
			}
		}
        // &:hover {
        //     @include respond-above(md) {
				// flex: 0 0 60%;
				// background-position: -200px center;
        //         transition: flex .3s ease-in-out, background-position .6s ease-in-out;
        //     }
        //     p {
	      //       opacity: 1;
				// transition: opacity .6s ease-in-out;
        //     }
        // }

    }
    .chirurgia {
		background-position: -380px center;
		background-color: #0E96A2!important;
		figure {
			h2 {
				color: white;
			}
			p {
				color: white;
			}
		}
		@include respond-below(xl) {
			background-position: -500px center;
        }
		@include respond-below(md) {
			background-position: -200px center;
		}
        figure {
			text-align: left;
			left: 20px;
			h2, p {
				text-align: left;
			}
		}
		// &:hover {
		// 	@include respond-above(md) {
		// 		background-position: -600px center;
		// 	}
		// 	@include respond-above(md) {
		// 		background-position: -500px center;
		// 	}
		// }
		
    }
}

.front-page-new {
	position: relative;
	overflow: hidden;
	&::after {
        content: "Nowości" !important;
        display: block;
        font-weight: 900;
        font-size: 8rem;
        letter-spacing: -3%;
        position: absolute;
        bottom: -22px;
        left: 10px;
		opacity: .6;
        z-index: -1;
        color: #E5E5E5;
    }
	.row{
		.title-news{
			@media(max-width: 768px){
				width: 100%;
				text-align: center;
				margin-left: 0;
				font-weight: 600;
				color: #47a1f7;
				position: relative;

			}
		}
	}
	.carousel-wrapper{
		height: 730px;
		margin-bottom: 60px;

		@media (max-width: 1300px) {
			margin-bottom: -50px;
		}

		@media (max-width: 1200px) {
			margin-bottom: -80px;
		}

		.flickity-prev-next-button{
			height: auto !important;
			.flickity-button-icon{
				height: auto !important;
			}
		}
	}
	padding: 20px;
	background-color: #fff;
	position: relative;
	z-index: 0;
	.col-lg-4{
		padding:50px;
		&:hover{
			transform: scale(1.02);
			transition: .3s;
			background-image: linear-gradient(to top, #cecece, white 40%);
		}
	}
	
	.title {
		display: flex;
    justify-content: space-between;
		height: 230px;
    align-items: center;
    flex-direction: column;

	}

	a {
		text-decoration: none;
		color:rgba(0, 0, 0, 0.5);
	}

	.read-more {
		padding: 10px 25px;
		background-color: #007cba;
		color: #fff;
	}
	
	h3 {
		padding-left: 10px;
		text-align: center;
		font-size: 34px;
		font-weight: 300;


	}

	.image {
		display: flex;
		justify-content: center;
		align-items: center;

		.new-image {
			width: 70%;
			margin: 0 auto;
			height: auto;

			@media (max-width: 768px) {
				width: 95%;
			}
		}
	

	}

	
}

.front-page-blog {
	padding: 20px;
	background-color: #cfcfcf;
	position: relative;
	z-index: 0;
	&:before {
		content: 'Blog'!important;
		font-weight: 900;
		font-size: 7rem;
		letter-spacing: -3%;
		position: absolute;
		bottom: -35px;
		left: 10px;
		z-index: -1;
		color: #E5E5E5;
	}
	.heading-row {
		display: flex;
		justify-content: space-between;
		width: 98%;
		h3 {
			padding-left: 10px;
			font-size: 36px;
			font-weight: 300;

			@media (max-width: 768px) {
				font-size: 20px;
			}
			a {
				color: black;
			}
		}
		a.read-more {
			color: black;
			display: inline-block;
			font-weight: 700;
			font-size: 13px;
			&::after {
				display: inline-block;
				width: 15px;
				height: 8px;
				content: '';
				background-image: url("../img/czytaj-dalej@2.png");
				background-size: contain;
				background-position: center;
				margin-left: 5px;
			}
		}
	}
	.carousel-wrapper {
		flex: 0 0 100%!important;
		max-width: 100%!important;
		@include respond-below(lg) {
			padding-right: 0!important; 
			padding-left: 0!important;
		}
	}
}

.front-page-aktualnosci {
	background-color: #f0f0f0;
}

.front-page-content {
	padding: 50px 30px;
	position: relative;
	background: white;
	h3.motto {
		font-size: 36px;
		font-weight: 300;
		@include respond-above(xl) {
			position: sticky;
			top: 90px;
			max-width: 400px;
		}
		@include respond-below(xl) {
			margin: 0px auto 20px;
			max-width: 900px;
			
		}
	}
	.container-narrow {
		max-width: 900px;
		margin: -50px auto 0;
		@include respond-below(xl) {
			margin: 0px auto 0;
		}
		.size-large{
			img{
				height: auto;
			}
		}
	}
}

.front-page-time-line {
	background: white;
	padding: 10px 30px;
	position: relative;
	&:before {
		background: red;
		content: '';
		width: 100px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 30px;
		z-index: 2;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		@include respond-below(md) {
			display: none;
		}
	}
	.time-line {
		list-style-type: none;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		display: flex;
		flex-direction: row;
		height: 280px;
		position: relative;
		font-size: 13px;
		max-width: 10050px;
		padding-left: 0!important;
		@include respond-above(xl) {
			margin-left: 470px;
		}
		@include respond-between(lg, xl) {
			margin-left: 315px;
		}
		@media (max-width:1441px) {
			margin-left: 230px;

		}
		@media (max-width:1281px) {
			margin-left: 160px;

		}
		@media (min-width:1024px) and (max-width:1161px) {
			margin-left: 90px;
		}
		@media (max-width:1024px) {
			margin-left: 0px;
		}
		li {
			flex: 0 0 350px;
			height: 120px;
			padding-left: 75px;
			padding-right: 20px;
			font-size: 18px;
			i {
				font-size: 13px;
			}
			&.title-chirurgia {
				transform: translateX(280px);
				font-size: 26px;
				flex: 0 0 280px;
				color: $color-chirurgia;
				padding-top: 70px;
				font-weight: 700;
				padding-left: 0;
				margin-left: -270px;
			}
			&.title-medycyna-estetyczna {
				transform: translateY(120px);
				padding-top: 10px;
				padding-left: 0;
				font-size: 26px;
				color: $color-estetyka;
				font-weight: 700;
				flex: 0 0 280px;
				&:before {
					display: block;
					width: 100%; 
					height: 10px;
					background: url("../img/timeline-background.png");
					content: '';
					position: absolute;
					top: -5px;
					left: 0;
				}
			}
			&.rok {
				text-align: left;
				flex: 0 0 150px;
				padding: 0;
				transform: translateY(120px);
				font-size: 40px;
				padding-top: 20px;
				font-weight: 700;
				&:before {
					display: block;
					width: 100%; 
					height: 10px;
					background: url("../img/timeline-background.png");
					content: '';
					position: absolute;
					top: -5px;
					left: 0;
				}
			}
			&.medycyna_estetyczna {
				transform: translateY(120px);
				padding-top: 20px;
				&.zdjecie {
					padding-top: 60px;
				}
				a.image {
					position: absolute;
					top: 3px;
					left: 20px;
					content: '';
					background-image: url("../img/timeline-estetyka1.png");
					background-size: contain;
					background-repeat: no-repeat;
					width: 53px;
					height: 90px;
					overflow: hidden;
					text-indent: -999px;
				}
				&:before {
					display: block;
					width: 100%; 
					height: 10px;
					background: url("../img/timeline-background.png");
					content: '';
					position: absolute;
					top: -5px;
					left: 0;
				}
			}
			&.chirurgia {
				position: relative;
				a.image {
					position: absolute;
					bottom: 2px;
					left: 0;
					content: '';
					background-image: url("../img/timeline-chirurgia1.png");
					background-size: contain;
					width: 66px;
					height: 108px;
					overflow: hidden;
					text-indent: -999px;
				}
				&:before {
					display: block;
					width: 100%; 
					height: 10px;
					background: url("../img/timeline-background.png");
					content: '';
					position: absolute;
					bottom: -5px;
					left: 0;
				}
			}
		}
	}

}

.front-page-service {
	min-height: 160px;
	padding: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	h3 {
		color: white;
		font-size: 50px;
		font-weight: 300;
		margin: 0;
		p {
			margin: 0;
		}
	}
	@include respond-below(md) {
		flex-flow: wrap;
		flex-direction: column;
		justify-content: center;
		background-size: cover!important;
		h3 {
			font-size: 32px;
		}
	}
}

.front-page-boxes {
	display: flex;
	flex-direction: row;
	background: white;
	padding: 10px;
	@include respond-below(lg) { 
		flex-direction: column;
	}
	.box {
		flex-grow: 1;
		border: solid 1px #BEBEBE;
		margin: 20px;
		color: black;
		position: relative;
		display: box-flex;
		@include respond-below(lg) { 
			flex: 0 0 100%;
			margin: 5px 10px;
		}
		.box-title {
			font-size: 36px;
			font-weight: 300;
			line-height: 40px;
			padding: 20px;
			cursor: pointer;
			transition: all .3s ease-in-out;
			&:after {
				display: block;
				width: 8px;
				height: 15px;
				background: url("../img/sidemenu-znacznik@2.png");
				background-size: auto;
				background-size: contain;
				content: '';
				position: absolute;
				top: 37px;
				right: 20px;
				transition: all .3s ease-in-out;
			}
			@include respond-below(md) {
				font-size: 21px;
				font-weight: 400;
			}
		}
		.box-content {
			position: absolute;
			background: white;
			padding: 0 20px 20px;
			z-index: 20;
			border: solid 1px #BEBEBE;
			border-top: none;
			left: -1px;
			width: calc(100% + 2px);
			visibility: hidden;
			opacity: 0;
			transition: all .3s ease-in-out;
			margin-top: -2px;
			@include respond-above(lg) {
				box-shadow: 0 7px 5px rgba(0, 0, 0, 0.5);
			}
			@include respond-below(lg) {
				max-height: 0;
				padding: 0 20px 0;
			}
			p {
				margin: 0;
			}
			@include respond-below(lg) {
				position: relative;
			}
		}
		@include respond-below(sm) {
			display: block;
		}
		&.active {
			.box-title { 
				color: $color-estetyka;
				transition: all .3s ease-in-out;
				@include respond-above(lg) {
					box-shadow: 0 7px 5px rgba(0, 0, 0, 0.5);
				}
				&:after {
					transform: rotate(90deg);
					transition: all .3s ease-in-out;
				}
			}
			.box-content {
				visibility: visible;
				opacity: 1;
				transition: all .3s ease-in-out;
				@include respond-below(lg) {
					max-height: 500px;
				}
			}
		}
	}
}

.front-page-partners {
	background: white; 
	padding: 30px 50px;
	height: 260px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	h3 {
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 40px;
		@include respond-above(lg) { 
			transform: translateX(-20px);
		}
	}
	ul {
		li {
			text-align: center;
			line-height: 60px;
			@include respond-below(md) {
				padding: 20px;
			}
			img {
				display: inline-block;
				max-height: 50px;
				@include respond-below(md) {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

@media (max-width: 767px) and (orientation: portrait) {
	.front-page-new {
		position: relative;
		overflow: hidden;
	}
}