// Global
html, body {
  position: relative;
  @include font();
  color: $color-text;
  background-color: #f2f3f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: color .3s ease-in-out;
  color: #005caa;
  &:hover {
    color: $color-estetyka;
    transition: color .3s ease-in-out;
    text-decoration: none;
  }
  &:active, a.active {
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
}

// Typography
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: $lato;
	font-weight: 400;
	line-height: 1.25;
}

h1.page-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 70px 0;
  font-size: 36px;
  @include respond-below(md) {
    font-size: 26px;
    margin: 30px 0;
  }
}

.wp-post-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 10px;
}

ul:not(.wp-block-gallery):not(.grid):not(.cssmap):not(.time-line) {
  padding-left: 15px;
  @include respond-below(md) {
    // padding-left: 30px!important;
  }
  &.sharpol {
    list-style-type: none;
    padding-left: 0!important;
    li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 30px;
      &:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        display: block;
        background: url('../img/symbol-punkt@2.png') no-repeat center;
        background-size: contain;
        left: 0;
        top: 2px;
      }
    }
  }
}

// Forms
a.button, inut[type="submit"], button, .button {
  display: inline-block;
  padding: 0 30px;
  color: white;
  line-height: 60px;
  background-color: rgb(0, 92, 170);
  box-shadow: 0px 12px 27px 0px rgba(0, 30, 56, 0.32);
  border-radius: 30px;
  border: solid 1px rgb(0, 92, 170);
  font-weight: 700;
  @include respond-below(md) {
  	line-height: 40px;
  }
}
.button-outline, a.button-outline  {
  @extend .button;
  box-shadow: none;
  border: solid 2px #E7E7E7;
  background: transparent;
  color: black;
  line-height: 50px;
  transition: all .3s ease-in-out;
  &:hover {
      border-color: #0C5EA7;
      transition: all .3s ease-in-out;
  }
}

input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='tel'], select, textarea {
  background-color: #F2F3F5;
  border: solid 1px #D6D6D6;
  font-size: 14px;
  width: 100%;
  line-height: 30px;
  padding: 0 8px;
  outline: 2px solid transparent;
  transition: all .3s ease-in-out;
  border-radius: 2px;
  &:focus {
    outline: 2px solid  #7AA9CC;
    border-color: #7AA9CC;
    transition: all .3s ease-in-out;
  }
}

select {
  height: 40px;
}
textarea {
  line-height: 22px;
}

.has-background {
  &.has-pale-blue-background-color {
    background-color: #E7F4FB;
  }
  &.has-pale-turquoise-background-color {
    background-color: #AFE2E6;
  }
  &.has-pale-violet-background-color {
    background-color: #EDDEFC;
  }
  &.has-pale-yellow-background-color {
    background-color: #FDF7DF;
  }
  &.has-black-background-color {
    background-color: #000
  }
}


// Navigation under appliances name
.single-top-navigation {
  background: white;
  font-weight: 700;
  color: #8b8b8b;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  border-bottom: solid 1px #D5D5D5;
  a {
    display: inline-block;
    background: $color-estetyka url('../img/menu-breadcrumbs-powrot@2.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 40px -5px;
    width: 93px;
    margin-right: 20px;
    position: relative;
    @include respond-below(md) {
      width: 50px;
      background-position: center -5px;
      margin-right: 10px;
    }
  }
}

.nav-links {
  margin: 60px 0 20px;
  padding: 0 20px;
  line-height: 50px;

  .news-page-numbers {
    display: inline-block;
    color: black;
    padding: 0 10px;
    font-weight: 700;
    &:hover {
      color: $color-estetyka;
    }
    &.current {
      opacity: .2;
      &:hover {
        color: black;
      }
    }
  }

  .page-numbers {
    display: inline-block;
    color: black;
    padding: 0 10px;
    font-weight: 700;
    &:hover {
      color: $color-estetyka;
    }
    &.current {
      opacity: .2;
      &:hover {
        color: black;
      }
    }
  }
}


.wp-block-quote {
  margin: 0;
  border: none;
  font-size: 37px;
  padding-left: 0px;
  padding-right: 320px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  @include respond-below(md) {
    font-size: 22px;
    padding-right: 300px;
  }
  @include respond-below(sm) {
    padding-right: 0px;
  }
  &:after {
    position: absolute;
    top: 30px;
    right: 100px;
    content: '';
    width: 175px;
    height: 125px;
    background: red;
    background: url('../img/cytat.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    @include respond-below(md) {
      width: 150px;
    }
    @include respond-below(sm) {
      top: 0px;
      right: 0px;
      opacity: .1;
    }
  }
}

body.page-template-contact, body.page-template-find-clinic, body.page-template-default, body.search, body.post-type-archive-clinic {
  background: transparent; 
  #particles-js-2 {
    canvas {
      position: absolute;
      top: 0;
      z-index: -1;
      background-color: #f2f3f5;
    }
  }
}

.tooltipster-content {
  .desc {
    img {
      width: 300px;
      height: 300px;
    }
  }
}