header.site-header {
	position: fixed;
	width: 100%;
	z-index: 100;
	.header-wrapper {
		height: 70px;
		background: rgb(255, 255, 255);
		position: relative;
		display: flex;
		flex-direction: row;
		@include respond-below(md) {
			flex-flow: wrap;
		}
		a.custom-logo-link {
			display: block;
			padding: 8px;
			img {
				display: block;
				height: 60px;
				width: 118px;
			}
		}
		.spacer {
			flex-grow: 1;
			display: block;
			height: 70px;
		}
		.menu-menu-glowne-container {
			display: block;
			text-align: right;
			padding: 0 15px;
			@include respond-below(md) {
				order: 4;
				flex: 0 0 100%;
				background: rgba(255, 255, 255, 0.9);
				max-height: calc(100vh - 92px);
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				height: auto;
				display: none;
			}
			ul.menu {
				list-style-type: none;
				padding: 0;
				line-height: 70px;
				display: inline-block;
				@include respond-below(md) {
					display: block;
					padding: 0px!important;
					line-height: 50px;
				}
				& > li {
					display: inline-block;
					position: relative;
					padding: 0 8px;
					color: black;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 13px;
					margin: 0 11px;
					@include respond-above(md) {
						&:first-child {
							background-image: url("../img/menu-home@2.png");
							background-position: center;
							background-size: 24px 24px;
							background-repeat: no-repeat;
							width: 30px;
							& > a {
								display: block;
								white-space: nowrap;
								color: transparent;
							}
						}
					}
					@include respond-below(md) {
						display: block;
					}
					&.current-menu-parent, &.current-menu-item, &:hover {
						&:before {
							display: block;
							background: #0C5EA7;
							content: '';
							position: absolute;
							top: -1px;
							right: 0;
							width: 100%;
							height: 3px;
							@include respond-below(md) {
								display: none;
							}
						}
					}
					&:hover {
						&:before {
							background-color: #7DC3EA!important;
						}
					}
					a {
						color: black;
					}
					&.social {
						a {
							color: transparent;
							position: relative;
						}
						&.facebook {
							a {
								width: 40px;
								&:before {
									display: block; 
									width: 24px; 
									height: 24px;
									content: '';
									background: url('../img/menu-facebook@2.png');
									background-size: contain;
									position: absolute;
									top: -5px;
									right: -4px;
								}
							}
						}
						&.instagram {
							a {
								width: 40px;
								&:before {
									display: block; 
									width: 24px; 
									height: 24px;
									content: '';
									background: url('../img/menu-instagram@2.png');
									background-size: contain;
									position: absolute;
									top: -5px;
									right: -4px;
								}
							}
						}
						&.youtube {
							a {
								width: 40px;
								&:before {
									display: block; 
									width: 24px; 
									height: 24px;
									content: '';
									background: url('../img/menu-youtube@2.png');
									background-size: contain;
									position: absolute;
									top: -5px;
									right: -4px;
								}
							}
						}
					}
					ul.sub-menu {
						position: absolute;
						visibility: collapse;
						padding: 0px 15px 10px;
						text-align: left;
						left: -15px;
						background-color: rgba(255, 255, 255, 0.9);
						opacity: 0;
						line-height: 30px;
						transition: all .2s ease-in-out;
						margin-top: -1px;
						@include respond-below(md) {
							display: block;
							visibility: visible;
							position: relative;
							opacity: 1;
							background-color: transparent;
							padding: 0 15px!important;
							text-align: right;
							line-height: 50px;
							left: 0px;
						}
						li {
							display: block;
							white-space: nowrap;
							cursor: pointer;
							@include respond-below(md) {
								padding: 0;
							}
							&:hover::before {
								display: none;
							}
							&.current-menu-item {
								padding-left: 24px;
							}
							&.current-menu-item::before, &.current-menu-item:hover::before {
								width: 8px;
								height: 15px;
								top: 6px;
								left: 6px;
								background: transparent url('../img/sidemenu-znacznik@2.png')!important;
								background-size: contain!important;
								background-repeat: no-repeat!important;
								display: inline-block;
								@include respond-below(md) {
									display: none;
								}
							}
						}
					}
					&.menu-item-has-children:hover {
						ul.sub-menu {
							visibility: visible;
							opacity: 1;
							transition: all .2s ease-in-out;
						}
					}
				}
			}
			&.active {
				display: block;
			}
		}
		.header-search {
			display: flex;
			background: #dbe8f0 url('../img/menu-szukaj@2.png');
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: center;
			flex: 0 0 70px;
			height: 70px;
			transition: flex .3s ease-in-out;
			form {
				display: inline-block;
				line-height: 70px;
				border: none;;
				visibility: collapse;
				opacity: 0;
				width: 0;
				input[type="text"] {
					display: inline-block;
					width: 100%;
					color: black;
					border: none!important;
					outline: none!important;
					background-color: transparent;
					margin: 0;
					&:hover, &:focus, &:active {
						outline: none;
					}
				}
			}
			&:hover {
				flex: 0 0 250px;
				background:#dbe8f0;
				transition: flex .3s ease-in-out;
				form { 
					visibility: visible;
					opacity: 1;
					width: 100%;
				}

			}
			@include respond-below(md) {
				display: none;
			}
			&.is-active {
				background: #dbe8f0;
				flex: 0 0 300px;
				transition: all .3s ease-in-out;
				form {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		.header-account {
			display: block;
			background: #E1DDE4 url('../img/menu-login@2.png');
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: center;
			flex: 0 0 70px;
			height: 70px;
		}
		#mobile-menu-trigger {
			display: block;
			background-color: #dbe8f0;
			flex: 0 0 70px;
			height: 70px;
			@include respond-above(md) {
				display: none;
			}
		}
	}
}