main.single-page, main.search-results {
    padding-top: 60px;
    .single-page-content {
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 50vh;
        & > *:not(.alignfull) {
            max-width: 900px;
            margin: 0 auto 10px;
            @include respond-below(md) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
    }
}

main.search-results {
  .container-narrow {
    margin: 0 auto 30px;;
    width: 100%;
    max-width: 900px;
    .item {
      h3 {
        font-size: 21px;
      }
      background: white;
      display: block;
      padding: 10px;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      margin-top: 15px;
      transition: all .3s ease-in-out;
      &:hover {
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
        transition: all .3s ease-in-out;
      }
      &.search-field {
        padding: 20px;
        text-align: center;
        margin-bottom: 100px;
        .screen-reader-text {
          display: none;
        }
      }
    }
  }
}