.search-container .container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 100px;

  .search-title-wrapper {
    height: 3rem;
    text-align: center;
    .search-title {
      text-transform: uppercase;
    }
  }

  .products-title,
  .news-title,
  .blog-title {
    margin: 30px 0px;
    font-size: 42px;
    color: #47a1f7;
    text-transform: uppercase;
  }

  .nav-links {
    justify-content: center;
    display: flex;
  }

  .card-error {
    text-align: center;
  }

  .row {
    justify-content: space-around;
    align-items: center;

    .card {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 10px;
      width: 300px;
      height: 480px;
      margin: 10px;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: 1s all ease-in-out;

      @media (max-width: 1024px) {
        height: auto;
        flex-direction: column;
        width: 90vw;
      }

      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
        transition: 0.25s all ease-in-out;
        transform: scale(1.02);
      }

      .card-img-top img {
        width: auto;
        height: 250px;
      }

      .card-body {
        margin-bottom: auto;
        margin-top: 25px;
        padding: 10px;
        width: 100%;

        .card-text {
          color: #5f5f5f;
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .row-alt {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .card {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 20px 10px;
      width: 100%;
      height: 240px;
      margin: 20px 10px;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: 1s all ease-in-out;

      @media (max-width: 1024px) {
        height: auto;
        flex-direction: column;
        width: auto;
      }
      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
        transition: 0.25s all ease-in-out;
        transform: scale(1.02);
      }

      .card-img-top img {
        height: auto;
        width: 300px;
        margin: 0px 10px;
      }

      .card-body {
        margin-bottom: auto;
        padding: 10px;
        margin-left: 25px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        @media (max-width: 1024px) {
          margin-left: 0px;
        }

        .card-title {
          margin-bottom: 15px;
        }

        .card-text {
          color: #5f5f5f;
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
