// Appliance menu item set active
.single-treatments {
  .menu-item.menu-item-75 {
    @extend .current-menu-parent;
  }
}

main.single-treatment {
  padding-top: 60px;
  .treatment-intro {
    background-color: white;
    margin-bottom: 30px;
    .description {
      padding: 30px;
      min-height: 500px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-size: 20px;
      @include respond-below(lg) {
        min-height: auto;
        order: 2;
      }
      @include respond-below(md) {
        padding: 15px;
        font-size: 15px;
      }
    }
  }
  .image {
    background-repeat: no-repeat!important;
    @include respond-below(lg) {
      height: 300px;
      order: 1;
    }
    @include respond-below(sm) {
      background-position: cover!important;
      background-attachment: scroll!important;
      background-position: center!important;
      height: 230px;
    }
  }
}