.appliances-header {
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .wrapper {
    position: absolute;
    width: 100%;
    max-width: 630px;
    display: block;
    right: 16.66666%;
    top: 30%;
    font-size: 18px;
    h1 {
      text-align: left;
      margin: 0 0 40px;
    }
  }
}

.fh-filter {
  form, figure {
    background: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    .cd-filter-block {
      padding: 15px;
      ul {
        padding: 0;
        list-style-type: none;
      }
    }
  }
}

.fh-gallery {
  padding: 0;
  width: 100%;
  & > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    padding-left: 20px;
    & > li {
      display: none;
      a {
        display: block;
        position: relative;
        transition: all .3s ease-in-out;
        figure {
          background: yellow;
          padding: 20px 20px 10px;
          text-align: center;
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
        }
        &::after {
          display: block;
          background: #7dc3ea;
          height: 4px;
          content: '';
          position: absolute;
          bottom: -4px; 
          width: 0;
          left: 50%;
          transition: width .3s ease-in-out, left .3s ease-in-out, transform .3s ease-in-out;
        }
        &:hover {
          transition: all .3s ease-in-out;
            figure {
              background: pink;
              position: absolute;
              width: calc(100% + 100px);
              left: -100px;
              z-index: 100;
              box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.28);
            }
          &::after {
            width: calc(100% - 8px);
            left: 4px;
            transition: width .3s ease-in-out, left .3s ease-in-out, transform .3s ease-in-out;
          }
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 250px;
            margin: 0px auto 5px;
        }
        h2 {
          font-size: 17px;
          font-weight: 400;
          display: block;
          height: 44px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
  
      &.gap {
        /* used in combination with text-align: justify to align gallery elements */
        opacity: 0;
        height: 0;
        display: inline-block;
      }
    }
  }
  .fh-fail-message {
    display: none;
    text-align: center;
  }
}


// Kolor dla estetyki
.page-template-appliances, .page-template-treatments {
  .fh-gallery {
    ul {
      li {
         a {
          &::after {
            background-color: #7dc3ea;
          }
        }
      }
    }
  }
}