// Grid variables
$grid-columns: 12 !default;
$grid-gutter-width: 0px !default;


$grid-breakpoints: (
    xxs: 320px,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1760px,
    xxl: 1920px,
);


$container-max-widths: (
    xs: 100%,
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
    xxl: 100%,
);
// Fonts
$lato: 'Lato', sans-serif;

// Colors
$color-chirurgia: #1e96a1;
$color-estetyka: #7dc3ea;

$color-text: #1d1e1f;


$wordpress-color: #0029A7;
$jquery-scolor: #00ADF6;
$acf-color: #1ecca5;

// Font
$global-font-size: 15px;
// Background
$bg-black: #000;
// Small text
$small-color: #000;
$small-size: 16px;
// Title
$title-color: #000;
$title-size: 16px;


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
// @import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/grid";
// @import "bootstrap/images";
@import "bootstrap/print";

// @import "bootstrap/tables";
// @import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/utilities";

@import "mixins";
// Global

@import "global";
@import "print";
//Header
@import "header";
// Footer
@import "footer";

// Global
@import "page";
@import "appliances_treatments";
@import "blog";



// Single
@import "front-page";
@import "appliance";
@import "treatment";
@import "contact";
@import "clinic-account";
@import "find-clinic";
@import "about_main";

// Search
@import "search";


// Blocks

@import "blocks";



$hamburger-padding-x           : 20px;
$hamburger-padding-y           : 23px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : black;
$hamburger-layer-border-radius : 0px;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false;
$hamburger-hover-filter       : opacity(50%);
$hamburger-active-hover-filter: $hamburger-hover-filter;

// Remove or comment out the hamburger types you don’t want
// or need, so they get excluded from the compiled CSS.
$hamburger-types: (
  spring
);

@import "hamburgers";