/*  edycja 17.02 */

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.ask__content {
    padding: 0 !important;
}

.ask__container {
    width: 100%;
}

.ask__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ask__left p {
    margin-bottom: 0;
    margin-left: 8%;
    margin-right: 8%;
}

.ask__right {
    height: 100%;
    background-color: rgba(38, 115, 182, 0.9);
    position: relative;
    padding: 110px 130px 100px 50px;
}

#ask__form {
    justify-content: flex-start;
}

#ask__form p {
    margin-bottom: 0;
}

.ask__form__line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
}

.ask__form__data {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

#ask__form .ask__form__title {
    font-size: 22px;
    color: #fff;
    margin: 0 !important;
    margin-bottom: 35px !important;
}

.ask__form__contact, 
.ask__form__text {
    flex: 0 0 50%;
}

.ask__form__contact {
    padding-right: 10px;
}

.ask__form__text {
    padding-left: 10px;
}

.ask__form__name,
.ask__form__mail,
.ask__form__phone,
.ask__form__province, 
.ask__form__text {
    justify-content: space-between;
    align-items: flex-start;
}

.ask__form__name p,
.ask__form__mail p,
.ask__form__phone p, 
.ask__form__province p,
.ask__form__text p {
    font-size: 13px;
    color: #fff;
    margin-bottom: 0;
    flex: 0 0 65%;
    width: 100%;
    height: 100%;
}

.ask__form__name h3,
.ask__form__mail h3,
.ask__form__phone h3, 
.ask__form__province h3,
.ask__form__text h3 {
    margin-top: 10px;
    font-size: 13px;
    color: #fff;
    flex: 0 0 30%;
    margin-right: 10px;
}

.ask__form__name input,
.ask__form__mail input,
.ask__form__phone input,
.ask__form__province select {
    height: 35px;
    width: 100%;
}

.ask__form__text textarea {
    height: 95%;
    width: 100%;
    padding: 0;
    min-height: 150px;
    max-height: 250px;
    padding-top: 5px;
}

.ask__form__name input,
.ask__form__mail input,
.ask__form__phone input,
.ask__form__province select,
.ask__form__text textarea {
    background-color: rgba(21, 75, 123, 0.9);
    border: none;
    color: #fff;
    padding-left: 5px;
} 

.ask__form__acceptance {
    margin-top: 20px;
}

.ask__form__acceptance .wpcf7-list-item {
    margin: 0 20px 0 0;
}

.ask__form__acceptance label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.ask__form__acceptance input {
    /* appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; */
    min-width: 22px;
    height: 22px;
    margin-right: 15px;
    margin-top: -3px;
    cursor: pointer;
    border: 1px solid #fff;
}

.ask__form__acceptance input:checked {
    background-color: rgba(21, 75, 123, 1);
    border: none;
}

.ask__form__acceptance p {
    font-size: 13px;
    color: #fff;
    max-width: 100%;
} 

.ask__form__submit input {
    margin-top: 25px;
    background-color: #fff;
    border: none;
    color: rgba(21, 75, 123, 1);
    padding: 22px;
    width: 220px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.ask__right .wpcf7-response-output {
    margin-top: 5px !important;
    position: relative;
    z-index: 10;
    color: #fff;
}

.ask__also  {
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.ask__also p {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
}

.ask__check {
    position: absolute;
    bottom: 0px;
    right: 0px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    background-color: rgba(21, 75, 123, 0.9);
    height: 80px;
    width: 58%;
}

.ask__check p {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
}

.ask__check img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1600px) {
    .ask__right {
        padding: 50px 50px 100px 50px;
    }
}
@media screen and (max-width: 991px) {
    .ask__check {
        width: 50%;
    }
    .ask__left p {
        margin-bottom: 50px;
        margin-left: 0px;
        margin-top: 50px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 767px) {
    .ask__right {
        padding: 50px 50px 50px 50px;
    }
    #ask__form .ask__form__title {
        text-align: center;
    }
    .ask__also {
        display: none;
    }
    .ask__check {
        display: none;
    }
    .ask__form__submit {
        text-align: center;
    }
    .ask__left {
        text-align: center;
    }
    .ask__form__submit input {
        padding: 15px;
        width: 180px;
    }
}
@media screen and (max-width: 600px) {
    .ask__form__flex {
        flex-direction: column;
    }
    .ask__form__contact {
        padding-right: 10px;
        padding-left: 10px;
    }
    .ask__form__text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .ask__left {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ask__right {
        padding: 25px 25px 25px 25px;
    }
}

@media screen and (max-width: 600px) {
    .ask__form__name,
    .ask__form__mail,
    .ask__form__phone, 
    .ask__form__province,
    .ask__form__text {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/*  edycja 17.02 */