/*
Theme Name: Frontend.House
Author: Weblider
Author URI: weblider.eu
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
main.find-clinic-main-content #results-list {
	grid-template-columns: repeat( 2, minmax(250px, 1fr) )!important;
}
main.find-clinic-main-content #results-list > li .adres,
main.find-clinic-main-content #results-list > li .telefon,
main.find-clinic-main-content #results-list > li .mail,
main.find-clinic-main-content #results-list > li .link{
	       word-break: break-all;
}
main.find-clinic-main-content .google-map {
	    position: sticky;
    top: 0px;
    left: 0px;
}

.slick-slide {
height: auto !important;
}