/**
   portfolio
**/

.portfolio {
	text-align: left;
	padding: 0px 52px;
	#grid {
		list-style-type: none;
		margin: 0 auto;
		padding: 30px 0;
		min-height: 600px;
		max-width: 1300px;
		li.item {
			width: 32.5%;
			position: relative;
			overflow: hidden;
			padding: 0px;
			margin: 0 0 7px 0;
			max-height: 422.5px;
			display: inline-block;
			&.big {
				width: calc(65% + 5px);
			}
		}
	}

}
.portfolio #grid li.item .more-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	width: 100%;
	height: 100%;
	display: table-cell;
    vertical-align: center;
}
.portfolio #grid li.item .more {
	position: absolute;
	display: block;
	background-color: rgba(255, 241, 82, .95);
    left: 18px;
	right: 18px;
	top: 18px;
	bottom: 18px;
	width: auto;
	height: auto;
	padding: 15px;
	opacity: 0;
	transition: all .3s ease-in-out;
	z-index: 5;
}
.portfolio #grid li.item:hover .more {
	opacity: 1;

}
.portfolio #grid li.item .more .more-inner {
	position: relative;
	height: 100%;
	width: 100%;
    display:table;
}

.portfolio #grid li.item .dot-irecommendthis {
	position: absolute;
	display: inline-block;
	background:url(img/heart_empty.svg) 0 3px no-repeat;
	background-size: auto 20px;
	padding-left: 26px;
	z-index: 8;
	bottom: 40px;
	width: 50px;
	height: 26px;
	line-height: 26px;
	left: calc(50% - 6px);
	font-family: 'Inconsolata';
	font-weight: 400;
	opacity: 0;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;

}
.portfolio #grid li.item .dot-irecommendthis:hover {
	background:url(img/heart_full.svg) 0 3px no-repeat;
	background-size: auto 20px;
}

.portfolio #grid li.item .more .more-inner-2 { display: table-cell; vertical-align: middle; text-align: center;}
.portfolio #grid li.item .more .more-inner-2 h3 {margin: 0; line-height: 22px; opacity: 0; margin-top: 90px; transition: opacity .4s ease-in-out, margin-top .3s cubic-bezier(0,0,1,2); transition-delay: .15s; -webkit-transition-delay: .15s; -moz-transition-delay: .15s;font-size: 22px;}
.portfolio #grid li.item .more .more-inner-2 .line {display: inline-block; background: #000; height: 2px; opacity: 0;}
.portfolio #grid li.item .more .more-inner-2 p {margin: 3px auto; max-width: 300px;  opacity: 0; transition: all .5s ease-in-out; transition-delay: .6s; -webkit-transition-delay: .6s; -moz-transition-delay: .6s;}
.portfolio #grid li.item.big .more .more-inner-2 p {max-width: 550px;}

.portfolio #grid li.item:hover .more .more-inner-2 h3 {opacity: 1; margin-top: 0px;}

.portfolio #grid li.item:hover .more .more-inner-2 .line {
	animation: expand .25s forwards;
    -moz-animation: expand .25s forwards;
    -webkit-animation: expand .25s forwards;
    -o-animation: expand .25s forwards;
	-webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.portfolio #grid li.item:hover .more .more-inner-2 p {opacity: 1;}
.portfolio #grid li.item:hover .dot-irecommendthis {opacity: 1;transition: all .3s ease-in-out; transition-delay: .9s;
	-webkit-transition-delay: .9s;
	-moz-transition-delay: .9s;}

.portfolio #grid .bg {position: absolute; top: 0; left: 0; width: 100%; height: 0%; -webkit-animation: expand-portfolio 0.3s ease-in-out forwards; animation: expand-portfolio 0.3s ease-in-out forwards; z-index: 2!important;}

.portfolio #grid li.item img { z-index: 3; position: relative; -webkit-animation: fadein 0.4s ease-in-out forwards; animation: fadein 0.4s ease-in-out forwards; opacity: 0;}

@keyframes expand-portfolio{
    0% { opacity: 0; height: 0%;}
	50% {opacity: 1;}
    100% { height: 100%; }
}
@-webkit-keyframes expand-portfolio{
    0% { opacity: 0; height: 0%;}
	50% {opacity: 1;}
    100% { height: 100%;}
}
@-moz-keyframes expand-portfolio{
    0% { opacity: 0; height: 0%;}
	50% {opacity: 1;}
    100% { height: 100%;}
}
.portfolio #grid li.item:nth-child(1) .bg, .exit .portfolio #grid li.item:nth-child(1) .bg {animation-delay: .12s}
.portfolio #grid li.item:nth-child(2) .bg, .exit .portfolio #grid li.item:nth-child(2) .bg {animation-delay: .24s}
.portfolio #grid li.item:nth-child(3) .bg, .exit .portfolio #grid li.item:nth-child(3) .bg {animation-delay: .36s}
.portfolio #grid li.item:nth-child(4) .bg, .exit .portfolio #grid li.item:nth-child(4) .bg  {animation-delay: .48s}
.portfolio #grid li.item:nth-child(5) .bg, .exit .portfolio #grid li.item:nth-child(5) .bg  {animation-delay: .60s}
.portfolio #grid li.item:nth-child(6) .bg, .exit .portfolio #grid li.item:nth-child(6) .bg  {animation-delay: .72s}
.portfolio #grid li.item:nth-child(7) .bg, .exit .portfolio #grid li.item:nth-child(7) .bg  {animation-delay: .84s}
.portfolio #grid li.item:nth-child(8) .bg, .exit .portfolio #grid li.item:nth-child(8) .bg  {animation-delay: .96s}
.portfolio #grid li.item:nth-child(9) .bg, .exit .portfolio #grid li.item:nth-child(9) .bg  {animation-delay: 1.08s}

.portfolio #grid li.item:nth-child(1) img {animation-delay: .50s; -webkit-animation-delay: .50s}
.portfolio #grid li.item:nth-child(2) img {animation-delay: .62s; -webkit-animation-delay: .62s}
.portfolio #grid li.item:nth-child(3) img {animation-delay: .74s; -webkit-animation-delay: .74s}
.portfolio #grid li.item:nth-child(4) img {animation-delay: .86s; -webkit-animation-delay: .86s}
.portfolio #grid li.item:nth-child(5) img {animation-delay: .98s; -webkit-animation-delay: .98s}
.portfolio #grid li.item:nth-child(6) img {animation-delay: 1.1s; -webkit-animation-delay: 1.1s}
.portfolio #grid li.item:nth-child(7) img {animation-delay: 1.22s; -webkit-animation-delay: 1.22s}
.portfolio #grid li.item:nth-child(8) img {animation-delay: 1.34s; -webkit-animation-delay: 1.34s}
.portfolio #grid li.item:nth-child(9) img {animation-delay: 1.46s; -webkit-animation-delay: 1.46s}


